.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flexbox-container {
  border: 1px solid #000000;
  display: flex;
  flex: auto;
  height: 621px;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Sidebar */

.sidebar {
  background-color: #2145AC;
  flex: auto;
  max-width: 100px;
}

.username {
  text-align: center;
  color: #FFFFFF;
}

.user-icon {
  text-align: center;
}

.material-icons {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 11px;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Magazine User-Tailored Recommendations Container */

.user-recs {
  background-color: #E6EAF2;
  flex: auto;
}

.user-recs h1 {
  margin: 20px;
}

.user-recs p {
  margin: 20px;
}

.user-recs-btns {
  margin: 40px;
}

/* Magazine Modals */

.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}

.close-btn:hover {
  color: darkgray;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Magazine Browser Container */

.magazine-browser {
  flex: auto;
}

.magazine-browser .material-icons {
  color: #000000;
}

.magazine-browser h1 {
  margin: 20px;
}

.magazine-browser input {
  margin: 20px;
}

.categories-container {
  margin: 20px;
}

.nav-categories {
  border: 1px solid #fff;
  width: 200px;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: -1px 11px 32px 17px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 11px 32px 17px rgba(0,0,0,0.15);
  box-shadow: -1px 11px 32px 17px rgba(0,0,0,0.15);
}